# Ignore bundler config.
/.bundle

bundle.js.map
.DS_Store
npm-debug.log

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules/
/yarn-error.log

.byebug_history

# Ignore application configuration
