.main-container {
  background: #1B9F4C;
  min-height: 90vh;
  /* background-position: center; */
  /* background-image: url(https://i.ytimg.com/vi/4nM7mU5EI00/maxresdefault.jpg); */
  /* background-image: url(https://wallpapertag.com/wallpaper/full/8/7/3/554272-full-size-rainy-day-background-1920x1080.jpg); */
  /* background-image: url(https://i.ytimg.com/vi/_xKJkdD25c4/maxresdefault.jpg); */
  /* background-image:
    radial-gradient(
      yellow,
      green
    ); */
}

header {
  top: 0;
  color: white;
  padding-top: 20px;
  font-size: -webkit-xxx-large;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Luckiest guy", cursive;
}

.second-nav {
  height: 75px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
}

.third-nav {
  margin-top: 25px;
  height: 80px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;

}


.main-center {
  margin-top: 25px;
  padding-bottom: 20px;
  height: 450px;

  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
}
