html, body {
  width: 100%;
}

.main-container {
  background: #1B9F4C;
  min-height: 90vh;
  border-radius: 0;
  width: 100%;
}

header {
  top: 0;
  color: white;
  padding-top: 20px;
  font-size: 80px;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Luckiest guy", cursive;
}

.second-nav {
  height: 75px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
}

.third-nav {
  margin-top: 25px;
  height: 80px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;

}


.main-center {
  margin-top: 25px;
  padding-bottom: 20px;
  height: 450px;

  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
}
