.main-container {
  background-color: green;
  min-height: 100vh;
  background-image:
    radial-gradient(
      yellow,
      green
    );
}

header {
  top: 0;
  height: 100px;
  width: 100%;
  text-align: center;
}

.second-nav {
  height: 75px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
}

.third-nav {
  height: 75px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;

}

.current-selection-wrapper {
  height: 100px;
  width: 100%;
  margin: auto;
}

.main-center {
  height: 100px;
  width: 100%;
  bottom: 0;
}

.current-selection-wrapper {
  border: 1px solid black;

}

.play-wrapper {

}
