#board {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

#board ul {
  height: 100%;
  width: 100%;
}

#board li {
  display: inline-block;
  width: 20%;
  height: 20%;
  padding-top: 10px;
  border-radius: 15px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin: 11px;
  position: relative;
  cursor: pointer;
}

.board-tile.letter {
  font-size: 50px;
  font-weight: bold;
}

.board-tile.points {
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: right;
  line-height: 12px;
}

.not-chosen {
  background: url('../images/tile2.png');
  /* background: linear-gradient(#B3B6B7,#FFFF); */
  background-size: cover;
}

.chosen {
  background: #FFC300;
}
