#leaderboard {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Montserrat;
  background: #FFC300;
  color: whitesmoke;
}

.instructions {
  display: block;
  height: 100%;
}

#leaderboard h2 {
  text-align: center;
  margin: auto;
  padding-top: 15px;
  color: black;
}

#leaderboard ul {
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  height: 85%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#leaderboard li {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

#nameform {
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

}

#submitbutton {
  width: 60px;
  background: red;
  text-align: center;
  margin-right: 10px;
}

#nameinput {
  padding: 10px;
  font-size: 14px;
}

.namelabel {
  padding-top: 10px;
  padding-left: 10px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  color: black;

}

.leaderboard-entry.num {
  color: black;
  text-align: center;
}

.leaderboard-entry.name {
  color: black;
  text-align: center;
}

.leaderboard-entry.score {
  color: red;
  text-align: center;
}
