#play {
  margin-top: auto;
  margin-bottom: auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: #FFC300;
  cursor: pointer;
}

.play-wrapper {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 500;
  font-family: Montserrat;
}

#play:hover {
  background-color: #EED90A;
  color: white;
}

#play:active {
  background-color: #EED90A;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
