.score-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  height: 100%;
}

#score {
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center
}
