#submitted-words {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Montserrat;
  background: #FFC300;
  color: whitesmoke;
}

#submitted-words h2 {
  text-align: center;
  margin: auto;
  padding-top: 15px;
  color: black;
}

#submitted-words ul {
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  height: 85%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#submitted-words li {
  font-size: 20px;
  color: whitesmoke;
}

.submitted-words-list {

}
