.timer-wrapper {
  display: flex;
  padding-top: auto;
  padding-bottom: auto;
  width: 150px;
  border: 1px solid black;
  background: #FFC300;
}

.timer-icon {
  color: white;
  margin: auto;
}

#timer {
  color: white;
  font-weight: 600;
  font-size: 35px;
  font-family: Montserrat;
  margin: auto;
}

.red {
  background: red;
}
